/* @media only screen and (max-width: 1024px) {
    .adminOrdersBg {
        width: 100vh;
    }
} */


@media only screen and (max-width: 800px) {
    .orderIdFont {
        font-size: 1.5rem;
    }
}


@media only screen and (max-width: 600px) {
    .adminProductForm {
        display: flex;
        justify-content: center;
    }
}